<!--====================================
=            Section footer            =
=====================================-->
<footer class="main-footer">
	<div class="container clearfix">
		<div class="copyr pull-left">
			© MINI 2014, All Right Reserves <span class="separ">|</span> Designed By bigpsfan & Metrothemes
		</div>
		<div class="social pull-right">
			<ul>
				<li><i class="icon icon-twitter"></i></li>
				<li><i class="icon icon-facebook"></i></li>
				<li><i class="icon icon-linkedin"></i></li>
				<li><i class="icon icon-dribbble"></i></li>
				<li><i class="icon icon-pinterest"></i></li>
				<li><i class="icon icon-gplus"></i></li>
				<li><i class="icon icon-rss"></i></li>
			</ul>
		</div>
	</div>
</footer>
<!--====  End of Section footer  ====-->
</div>

<script src="js/vendor/script.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>