*, :after, :before {
	box-sizing: border-box;
}
html {
	font-size: $font-size-root;
}
body{
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height;
	background-color: $body-bg;
	color: $body-color;
	overflow-x: hidden;
}
h1,h2,h3{
	text-transform: uppercase;
	margin: 0;
}
h2,h3{
	color: $gray-dark;
	font-weight: 700;
}
h1{
	font-size: $font-size-h1;
}
h2{
	font-size: $font-size-h2;
}
h3{
	font-size: $font-size-h3;
}
h4{
	font-size: $font-size-h4;
}
h5{
	font-size: $font-size-h5;
}

p{
	margin: 0;
}

a{
	color: $color-st-1;
	text-decoration: none;
}

.btn_st-1{
	text-decoration: none;
	display: inline-block;
	border: 2px solid $color-st-1;
	background-color: transparent;
	transition: all .3s;
	text-transform: uppercase;
	color: $gray-dark;
	font-weight: 500;
	border-radius: 0;
	&:hover{
		color: #fff;
		background-color: $color-st-1;
	}
}


/**
 *
 * Block swiper-pagination
 *
 */
.swiper-pagination-bullet{
	width: 12px;
	height: 12px;
	margin: 0 2.5px;
	background: #626e79;
}
.swiper-pagination-bullet-active{
	background: #fff;
}


/**
 *
 * Block section
 *
 */
.section{
	position: relative;
	padding: rem(100px) 0;
	// &:after{
	// 	content: "";
	// 	width: 108%;
	// 	height: 100%;
	// 	background-color: #fff;
	// 	position: absolute;
	// 	bottom: -100%;
	// 	transform: rotate(-4.25deg);
	// 	transform-origin: left;
	// }
}

/**
 *
 * Block shape-icon - circle-icon
 *
 */
.shape-icon{
	border-radius: 50%;
	border: 2px solid $color-st-1;
	display: inline-block;
	width: rem(125px);
	height: rem(125px);
	text-align: center;
	background-color: transparent;
	line-height: rem(125px);
	font-size: rem(40px);
	color: $gray-dark;
}

/**
 *
 * Разделитель - горизонтальная линия
 *
 */
.s-spacer{
	margin: rem(125px) 0;
	border-top: 2px solid #e6e6e6;
}



/**
 *
 * secion-header
 *
 */
.s-header_line{
	margin: auto;
	margin-bottom: rem(150px);
	width: 91%;
	h2,
	span{
		display: table-cell;
		vertical-align: middle;
		text-transform: uppercase;
	}
	h2{
		margin: 0;
		font-size: rem(30px);
		font-weight: 700;
		line-height: rem(25px);
		border-right: 4px solid $color-st-1;
		padding-right: rem(20px);
	}
	span{
		color: #4d4d4d;
		padding-left: rem(20px);
		font-size: 1rem;
		font-weight: 400;
		line-height: rem(25px);
	}
}

/*==============================================
=            Section comment HEADER            =
==============================================*/

.main-header{
	position: absolute;
	top: rem(85px);
	left: 0;
	right: 0;
	z-index: 100;
}
.main-header__logo{
	float: left;
	width: rem(150px);
	height: rem(150px);
	border-radius: 50%;
	border: 1px solid #fff;
	text-align: center;
	h1{
		margin: 0;
		font-size: rem(45px);
		color: #fff;
		line-height: rem(150px);
		font-family: Montserrat;
		font-weight: bold;
	}
}

.main-header__nav{
	margin-top: 63px;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		display: inline-block;
		vertical-align: middle;
		&:not(:last-child):after{
			color: #fff;
			content: "\\\\";
			padding: 0 rem(35px);
		}
	}
	a{
		text-transform: uppercase;
		font-size: rem(18px);
		text-decoration: none;
		transition: all .3s;
		font-weight: 600;
		color: #fff;
		&:hover{
			color: $gray-dark;
		}
	}
}
/*=====  End of Section comment HEADER  ======*/




/*======================================
=            Section banner            =
======================================*/

.s-banner{
	background: #fff url(../img/bg-banner.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 1100px;

	height: 100vh;

	color: #fff;
	@include overlay(#34495e, .7);
	.container{
		@include vert-align;
	}
	.swiper-pagination{
		left: 50%;
		transform: translateX(-50%);
		bottom: -130px;
	}
	.swiper-slide{
		text-align: center;
	}
	.swiper-text{
		text-transform: uppercase;
		color: #fff;
		margin-bottom: rem(80px);
	}
	.swiper-text_lg{
		font-size: rem(68px);
		font-weight: 700;
		line-height: rem(80px);
		letter-spacing: -3px;
	}
	.swiper-text_md{
		font-size: rem(45px);
		font-weight: 300;
		line-height: rem(65px);
	}
	.swiper-text_sm{
		font-size: rem(40px);
		font-weight: 300;
		line-height: rem(60px);
	}
	.btn_st-1{
		font-size: rem(15px);
		padding: rem(9px) rem(30px);
		color: #fff;
	}
}

/*=====  End of Section banner  ======*/



/*=============================================
=            Section comment ABOUT            =
=============================================*/

.s-about{}

.s-about__wrapper{

}

.s-about__icon,
.s-about__text{
	display: inline-block;
	vertical-align: top;
}

$s-about__icon: rem(125px);
.s-about__icon{
	width: $s-about__icon;
}

.s-about__text{
	padding-left: rem(30px);
	width: calc(100% - #{$s-about__icon});
	h3{
		margin: 0 0 1rem;
	}
	.text-style{
			color: #e74c3c;
			font-size: rem(20px);
			line-height: rem(28px);
			font-weight: 300;
			margin-bottom: 1.5rem;
	}
}

.s-about__story{
	img{
		max-width: 450px;
		width: 100%;
		height: auto;
	}
}

.s-about__skills{
	img{
		max-width: 497px;
		width: 100%;
		height: auto;
	}
}
.s-about__progress-bar{
	margin-top: rem(50px);
}

.progress-bar__item{
	margin-bottom: rem(29px);
	.text{
		margin-bottom: rem(5px);
		text-transform: uppercase;
	}
	.title{
		color: $gray-dark;
		font-weight: 600;
	}
	.separ{
		color: #bfbfbf;
		font-weight: 600;
	}
	.num{
		color: $gray-dark;
		font-weight: 300;
	}
	.skills{
		height: rem(10px);
		background-image: linear-gradient(to right, #f39c12 0%, #f39c12 88%, #e6e6e6 88%, #e6e6e6 100%);
	}
}
/*=====  End of Section comment ABOUT  ======*/


/*=====================================
=            Section QUOTE            =
=====================================*/

.s-quote{
	background: #fff url(../img/bg2.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: rem(700px);
	@include overlay(#000, .75);
	.container{
		@include vert-align;
	}
}
.s-quote__content{
	text-align: center;
	.text{
		color: #fff;
		font-size: rem(45px);
		font-weight: 700;
		line-height: rem(60px);

		&:after{
			content: "";
			display: block;
	    margin: auto;
			margin-top: rem(30px);
			width: rem(50px);
			height: rem(4px);
			background-color: $color-st-1;
		}
	}
	.quote{
		color: #fff;
		font-size: rem(110px);
		font-weight: 700;
		position: relative;
		top: 20px;
	}
	.fio{
		color: #fff;
		font-size: rem(24px);
		font-weight: 700;
		line-height: rem(40px);
		text-transform: uppercase;
	}
}
/*=====  End of Section QUOTE  ======*/


/*============================================
=            Section comment TEAM            =
============================================*/
.s-team__grid{
	text-align: center;
}
.s-team__grid-item{
	padding: rem(30px) rem(15px);
	border-top: 4px solid transparent;
	transition: all .3s;
	&:hover{
		background-color: #f0f0f0;
		border-color: $color-st-1;
		& .position:after{
			background-color: #e74c3c;
		}
	}
	img{
		border-radius: 50%;
		max-width: 188px;
		display: inline-block;
		margin-bottom: rem(20px);
		border: 1px solid;
    padding: 5px;
  	background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
	}
}
.s-team__text{
	.fio{
		margin: 0;
		color: $gray-dark;
		font-weight: 700;
		text-transform: uppercase;
	}
	.position{
		color: #999;
		font-family: Lato;
		font-size: rem(15px);
		font-weight: 400;
		&:after{
			content: "";
			display: block;
			margin: rem(10px) auto;
			width: rem(20px);
			height: rem(4px);
			background-color: #ccc;
		}
	}
	.descr{
		margin-bottom: rem(20px);
	}
	.social{
		color: #999;
	}
	.icon{
		cursor: pointer;
		font-size: rem(21px);
		&:hover{
			color: $color-st-1;
		}
	}
}
/*=====  End of Section comment TEAM  ======*/



/*=============================================
=            Section comment FACTS            =
=============================================*/
.s-facts{
	background: #fff url(../img/bg2.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: rem(700px);
	text-align: center;
	@include overlay(#000, .75);
	.container{
		@include vert-align;
	}
}
.s-quote__grid-item{
	.text{
		margin-top: rem(22px);
		color: #fff;
		font-weight: 700;
		font-size: rem(25px);
	}
	.num{
		font-size: rem(45px);
		line-height: 1em;
		margin: 0;
	}
	.shape-icon{
		color: #fff;
		width: rem(170px);
		height: rem(170px);
		line-height: rem(170px);
	}
	&:hover .shape-icon{
		color: $color-st-1;
		border-color: #fff;
	}
}
/*=====  End of Section comment FACTS  ======*/



/*===============================================
=            Section comment SECVICE            =
===============================================*/
.s-serv__grid{
	text-align: center;
}

.s-serv__grid-item{
	&:hover{
		.shape-icon{
			transition: all .3s;
			color: #fff;
			background-color: $color-st-1;
		}
	}
	h3{
		margin: rem(20px) 0;
	}
}
.s-serv__text{
	h3{
		margin: rem(20px) 0;
	}
}
.s-serv__pricing-item{
	padding-right: 75px;
}

.s-serv__pr-table{
}
.pr-table__plan{
	width: 250px;
	float: right;
	margin-right: -1px;
	text-align: center;
	border: 1px solid #e6e6e6;
}
.pr-table__header{
	padding: rem(30px) rem(10px);
	color: $gray-dark;
	font-size: rem(22px);
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1em;
	.line{
		margin: 0;
		&:after{
			content: "";
			background-color: $color-st-1;
			margin: rem(10px) auto;
			display: block;
			height: 2px;
			width: rem(50px);
		}
	}
}

.pr-table__body{
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li{
		border-top: 1px solid #e6e6e6;
		color: #737373;
		padding: rem(12px);
		font-size: rem(15px);
		line-height: rem(24px);

		&:nth-child(odd){
			background-color: #fafafa;
		}
	}
	.btn{
		font-size: rem(15px);
		margin: rem(23px) 0;
		padding: rem(5px) rem(24px);
	}
}

.pr-table__plan_gold{
	transform: translateY(-15px);
	border: 1px solid transparent;
	.pr-table__header{
		padding-top: rem(45px);
		color: #fff;
		background-color: $color-st-1;
	}
	.pr-table__body{
		li:nth-child(odd){
				background-color: #e6e6e6;
		}
		li:nth-child(even){
				background-color: #f2f2f2;
		}
		.btn{
			margin-bottom: rem(38px);
		}
	}
}
/*=====  End of Section comment SECVICE  ======*/


/*===================================================
=            Section comment TESTIMONIAL            =
===================================================*/
.s-testimonial{
	background: #fff url(../img/bg2.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: rem(700px);
	@include overlay(#000, .75);
	.container{
		@include vert-align;
	}
}
.s-testimonial__content{
	text-align: center;

	.swiper-pagination{
		left: 50%;
		transform: translateX(-50%);
		bottom: -130px;
	}

	.fio{
		color: #fff;
		font-size: rem(24px);
		font-weight: 700;
		line-height: 1em;
		text-transform: uppercase;
		margin: 0;
		&:after{
			content: "";
			display: block;
			margin: rem(15px) auto rem(25px);
			width: rem(50px);
			height: rem(4px);
			background-color: $color-st-1;
		}
	}
	.text{
		margin: 0;
		color: #fff;
		font-size: rem(22px);
		font-weight: 300;
		line-height: rem(30px);
		font-style: italic;
	}
	img{
		margin-top: rem(25px);
		display: inline-block;
		border-radius: 50%;
		border: 2px solid white;
		width: 106px;
		height: 106px;
	}
	.swiper-pagination{
		bottom: -45px;
	}
}
/*=====  End of Section comment TESTIMONIAL  ======*/



/*=================================================
=            Section comment PORTFOLIO            =
=================================================*/
.s-portf{
	.swiper-container{
		width: 100%;
		height: 580px;
	}
	.swiper-slide{
		img{
			width: 100%;
			height: auto;
			display: inline-block;
		}
	}
	.swiper-control{
		margin-top: rem(50px);
		text-align: center;
	}
	.swiper-btn{
		margin: 0 rem(2.5px);
		display: inline-block;
		width: rem(35px);
		height: rem(35px);
		background-color: white;
		border: 2px solid #e6e6e6;
		cursor: pointer;
		.icon{
			text-align: center;
			line-height: rem(30px);
			color: $gray-dark;
			font-size: rem(20px);
		}
	}
	.swiper-subs{
		margin-top: rem(25px);
		text-align: center;
		.cat{
			color: #808080;
			font-size: rem(14px);
		}
	}
}

.s-portf__isotope{

}

.s-portf__isotope-filter{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	li{
		display: inline-block;
		vertical-align: middle;
		&:not(:last-child):after{
			color: #a6a6a6;
			content: "\\\\";
			padding: 0 rem(35px);
		}
		span{
			font-size: rem(14px);
			font-weight: 700;
			text-transform: uppercase;
			color: $gray-dark;
			cursor: pointer;
		}
	}
	li.active span{
		color: $color-st-1;
	}
}

.s-portf__isotope-grid{
	margin-top: rem(80px);
	.grid-item{
		padding: 0;
		&:hover{
			h3{
				color: $color-st-1;
			}
			img{
				transition: all .3s;
				opacity: .1;
			}
			.back{
				transition: all .3s;
				display: block;
			}
		}
	}
	img{
		width: 100%;
		height: auto;
		display: block;
	}
	.caption{
		margin: rem(10px) 0;
		text-align: center;
		line-height: rem(22px);
	}
	h3{
		font-size: rem(15px);
	}
	.category{
		color: #8c8c8c;
		font-size: rem(14px);
	}
	.ihover{
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 100%;
	}
	.back{
		@include vert-align;
		width: 98px;
		height: 98px;
		background-color: rgba(243, 156, 18, 0.5);
		border-radius: 50%;
		display: none;
		&:after,
		&:before{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -23px;
			width: 1px;
			height: 46px;
			background-color: #fff;
			display: block;
		}
		&:before{
			transform: rotate(90deg);
		}
	}
}
/*=====  End of Section comment PORTFOLIO  ======*/


/*=============================================
=            Section comment Tweet            =
=============================================*/
.s-tweet{
	background: #fff url(../img/bg2.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: rem(700px);
	@include overlay(#000, .75);
	.container{
		@include vert-align;
	}
}
.s-tweet__content{
	text-align: center;
	.text{
		margin-top: rem(30px);
		color: #fff;
		font-size: rem(22px);
		font-weight: 700;
		line-height: rem(33px);
	}
	.time{
		color: #808080;
		font-size: rem(15px);
		font-weight: 300;
		font-style: italic;
		line-height: rem(38px);
	}
	.shape-icon{
		border: 2px solid #fff;
		width: rem(106px);
		height: rem(106px);
		line-height: rem(106px);
		color: $color-st-1;
	}
}
/*=====  End of Section comment Tweet  ======*/


/*============================================
=            Section comment BLOG            =
============================================*/
.s-blog__grid-item{
	.visual{
		position: relative;
	}
	img{
		width: 100%;
		height: auto;
		display: block;
	}
	.v-panel{
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	.col-icon{
		display: inline-block;
		width: 20%;
		vertical-align: bottom;
    text-align: right;
	}
	.icon{
		color: #fff;
		background-color: $color-st-1;
		display: inline-block;
		width: rem(44px);
		height: rem(44px);
		text-align: center;
		line-height: rem(44px);
	}
	h3{
		display: inline-block;
		width: 80%;
		padding: rem(25px) rem(20px) rem(10px);
		background-color: #fff;
	}
	.descr{
		margin: rem(20px) 0 rem(60px);
	}
	.info{
		padding-right: 20px;
		font-size: rem(14px);
		line-height: rem(24px);
		color: #808080;
		width: 20%;
		text-align: right;
		display: inline-block;
		vertical-align: top;
	}
	.text{
		width: 80%;
		display: inline-block;
		padding-left: rem(20px);
	}
	.btn{
		margin-top: rem(25px);
		font-size: rem(14px);
		padding: rem(3px) rem(22px);
		font-weight: 700;
	}
}
/*=====  End of Section comment BLOG  ======*/



/*===============================================
=            Section comment CLIENTS            =
===============================================*/
.s-clients{
	background: #fff url(../img/bg2.jpg) center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: rem(700px);
	@include overlay(#000, .75);
	.container{
		@include vert-align;
	}
}
.s-clients__content{
	h3{
		text-align: center;
		color: #fff;
		font-size: rem(30px);
		line-height: rem(60px);
	}
}
.s-clients__grid{
	margin-top: 40px;
}
.s-clients__grid-item{
	margin-top: rem(20px);
	text-align: center;
	border: 2px solid rgba(255, 255, 255, 0.25);
	img{
		display: inline-block;
		vertical-align: middle;
	}
}
/*=====  End of Section comment CLIENTS  ======*/
